{% extends "base.html" %}

{% block content %}
    <h1>Blogz</h1>

    {% if entries|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        <ul>
            {% for entry in entries %}
            <li><h3><a href = "/Blog?id={{entry.owner.id}}">{{entry.name}}</a></h3>
                    {{entry.entry}}<br>
                 <h5>Written by User: <a href = "/Blog?id={{entry.owner_id}}">{{entry.email}}</a></h5>
            </li>
            <br>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}